@model ContractorSwap.Models.JobListingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a Job Listing!</h1>

<h4>Be specific about specialties required in your descriptions!</h4>
<hr />
<div class="row">
    <div class="create-page">
    <div class="col-md-4">
        <div class="form-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">               
                <input type="hidden" asp-for="ContractorId" value="0" class="form-control" />
            </div>
            <div class="form-group-btn" style="margin-top: 20px; text-align: center;">
                        <input type="submit" value="Create" class="btn btn-primary btn-lg rounded-pill btn-hover-effect" style="background-color: dimgrey;" />
            </div>
        </form>
        </div>
    </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
.create-page {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh; 
    margin-top: -200px;
}
h1{
    color: aliceblue;
        font-family: fantasy,'Copperplate Gothic';
}
    .form-container {
        font-family:'Calisto MT';
        background-color: lightgray; 
        padding: 50px;
        border: 5px solid aliceblue;
        border-radius: 50px;

    }
    h4{
        color: aliceblue;
    }
body {
        background-image: url(https://wallpapercave.com/wp/wp4947114.jpg);
        background-size: cover;
        background-position: center;
    }
   
    .col-md-4{
        width: 600px;
    }
    .form-group-btn{
        color:black;
    }

    .btn-hover-effect {
      transition: transform 1s;
    }

     .btn-hover-effect:hover {
          transform: scale(1.2);
        }

</style>
