@model ContractorSwap.Models.JobListingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a Job Listing!</h1>


<hr />
<div class="row">
    <div class="create-page">
    <div class="col-md-4">
        <div class="app-form-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Job Date</label>
                <input asp-for="CompletionDate" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
                <div class="form-group"> 
                    <input type="hidden" asp-for="Date" class="form-control" />                     
                </div>
            <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label class="control-label">Work Type</label>

                        <div class="form-check">
                            <input type="checkbox" asp-for="Plumbing" class="form-check-input" />
                            <label class="form-check-label">Pumbling</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" asp-for="Carpentery" class="form-check-input" />
                            <label class="form-check-label">Carpentry</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" asp-for="General" class="form-check-input" />
                            <label class="form-check-label">General</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" asp-for="Electrical" class="form-check-input" />
                            <label class="form-check-label">Electrical</label>
                        </div>

                        @*<span asp-validation-for="Specialties" class="text-danger"></span>*@
                    </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">               
                <input type="hidden" asp-for="ContractorId" value="0" class="form-control" />
            </div>
                <div class="form-group-btn">
                        <input type="submit" value="Create" class="btn btn-primary btn-hover-effect" />
                </div>
        </form>
        </div>
    </div>
</div>
</div>
<div>
    <a asp-action="MyIndex">Back to My Jobs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>

    .create-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -200px;
    }

    h1 {
        margin-top: 40px;
        display: flex;
        color: #FFFBE0;
        font-family: 'Roboto';
        justify-content: center;
        background-color: #40312C;
        border: 5px solid aliceblue;
        border-radius: 20px;
    }

    .app-form-container {
        font-family: 'Roboto', sans-serif;
        background-color: #40312C;
        padding: 50px;
        border: 5px solid aliceblue;
        border-radius: 20px;
        opacity: 95%;
        color: #FFFBE0;
    }

   

    body {
        background-image: url(https://images.pexels.com/photos/7484821/pexels-photo-7484821.jpeg?auto=compress&cs=tinysrgb&w=1600);
        background-size: cover;
        background-position: center;
    }

    .col-md-4 {
        width: 600px;
    }

    .btn {
        background-color: #8C4303;
        border: 1px solid aliceblue;
    }

    .btn-hover-effect {
        background-color: #8C4303;
        border: 1px solid aliceblue;
        transition: transform 1s;
    }

        .btn-hover-effect:hover {
            background-color: #8C4303;
            border: 1px solid aliceblue;
            transform: scale(1.2);
        }

</style>
