@model IEnumerable<ContractorSwap.Models.JobListingModel>

@{
    ViewData["Title"] = "Index";
}
@{
    bool carpentry = true;
    bool plumbing = true;
    bool general = true;
    bool electrical = true;
}
<body class="bg-image" id="JobListingIndexPage">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 text-center mt-4 mb-4" id="JobListingIndexTitle">
            <h1 id="JobListingsTitleText"style="color: #403732; font-weight: 700">Job Listings</h1>

        </div>
    </div>
    <div>
        <input type="checkbox" />
        Carpentry: @carpentry Plumbing: @plumbing General: @general Electrical: @electrical
    </div>
    
    <div class="row" id="CardListings">
        @foreach (var item in Model) {
           <div class="card col-4 flex-md-wrap" id="JobListingsCard" style="width: 18rem; margin: 45px; padding: 5px;">
                <a asp-action="Details" asp-route-id="@item.Id" class="nostyle">
                <div class="card-container">
                    <img class="card-img-top" id="JobListingsCardImage" src="~/Images/Hi-Res Tools surround.jpg" alt="Job Type Image">
                    <div class="top-right">
                        @item.DaysSince()
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: #F2EFEB">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                </a>
           </div>
            }
    </div>

</body>
