<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Contractor Swap</title>
    <!-- Library of Libraries-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
   <!-- Page Content-->
        <!--Peter Section-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-sm-12 col-md-4 mt-5 mb-5">
                <div class="card rounded-5 overflow-hidden">
                <img src="/img/Peter.png" class="card-img-top bg-dark" />
                <div class="card-body">
                    <h5 class="card-title text-center">Peter "Mob Leader" Culver</h5>
                        <p class="card-text">I'm a devoted family person, married with wonderful kids, who embarked on a journey from being a passionate music teacher to now thriving as a dedicated software developer. When I'm not coding, you'll find me on the hurling field or engaging in exhilarating doubles tennis matches. Cherishing moments with my wife and children is where I find true joy and fulfillment, and rest assured, I have no plans to grow the beard of jealousy.</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/peterculverdev/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/PeterCulv" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="mailto:culver.peter722@gmail.com?subject=Hi%20Peter!" target="_blank"><i class="bi bi-mailbox"></i></a>
                        </div>
                </div>
            </div>
        </div>

        <!--Rocky Section-->
            <div class="col-sm-12 col-md-4 mt-md-5 mb-5">
                <div class="card rounded-5 overflow-hidden">
                <img src="~/img/Rocky.jpg" class="card-img-top bg-dark" />
                <div class="card-body">
                        <h5 class="card-title text-center">Rackean "Rocky" Roberts</h5>
                        <p class="card-text">Rackean Roberts, a 22-year-old native of Brooklyn, is an aspiring developer known for their dedication and passion for coding. Outside of the world of coding, Rackean enjoys exploring the diverse neighborhoods of Brooklyn, delving into captivating books, and collaborating with fellow tech enthusiasts on exciting projects.</p>
                        <div class="text-center">
                            <a href="https://linkedin.com/in/rackean" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/rroberts686" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="mailto:rroberts686@gmail.com?subject=Hi%20Rackean!" target="_blank"><i class="bi bi-mailbox"></i></a>
                        </div>
                </div>
            </div>
        </div>

        <!--Nick Section-->
            <div class="col-sm-12 col-md-4 mt-md-5 mb-5">
                <div class="card rounded-5 overflow-hidden">
                <img src="/img/NickPicture.png" class="card-img-top" />
                <div class="card-body">
                        <h5 class="card-title text-center">Nick "For Why?" Baesman</h5>
                        <p class="card-text">I am an experienced C# developer with a passion for crafting efficient and elegant solutions. When I'm not immersed in code, I thrive in the outdoors, embracing nature's beauty and serenity. Music is another realm where I express myself, as I am also a dedicated musician, harmonizing my love for creativity and technology.</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/nickbaesman/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/NBaesman" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="mailto:baesmanw@miamioh.edu?subject=Hi%20Nick!" target="_blank"><i class="bi bi-mailbox"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row gx-4 gx-lg-5">
        <!--Aaron Section-->
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card rounded-5 overflow-hidden">
                <img src="/img/Aaron2.png" class="card-img-top" />
                    <div class="card-body text-center">
                    <h5 class="card-title">Aaron "I'm checked out" Hinkle</h5>
                        <p class="card-text">I'm a former sales professional who's traversed the software landscape, and now I'm on an exciting journey of crafting with code. Originally from Ohio, I now call Florida home. When I'm not immersed in code, you can find me enjoying the company of my two canine companions. With a background in sales and a new passion for coding, I'm eager to merge my diverse experiences into innovative solutions.</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/aaronhinkle1/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/AaronHinkle" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="mailto:seth.t.ochoa@gmail.com?subject=Hi%20Aaron!" target="_blank"><i class="bi bi-mailbox"></i></a>
                        </div>
                </div>
            </div>
        </div>

        <!--Seth Section-->
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card rounded-5 overflow-hidden">
                <img src="/img/WardenandI.jpg" class="card-img-top" />
                <div class="card-body">
                        <h5 class="card-title text-center">Seth "Dirty" Ochoa</h5>
                        <p class="card-text">Navigating through diverse roles such as naval service and law enforcement, I've now embraced the realm of a full stack software developer. Beyond my professional pursuits, I find joy in cherished moments with my wife and kids, whether it's conquering CrossFit challenges or enjoying the intricacies of curling together. My journey reflects not only my adaptability and work ethic but also my commitment to a balanced and fulfilling life.</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/seth-ochoa-78477b281/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/SethOchoa" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="mailto:seth.t.ochoa@gmail.com?subject=Hi%20Seth!" target="_blank"><i class="bi bi-mailbox"></i></a>
                        </div>
                </div>
            </div>
        </div>

        <!--Cody Section-->
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card rounded-5 overflow-hidden">
                <img src="/img/StupidHead.png" class="card-img-top bg-dark" />
                <div class="card-body">
                        <h5 class="card-title text-center">Cody "Durf" Durflinger</h5>
                        <p class="card-text">I'm a passionate C# developer with a love for both gaming and the great outdoors. Combining my technical expertise with my adventurous spirit, I create code that mirrors my diverse interests. Whether in virtual worlds or natural landscapes, I thrive on the excitement of exploration and creation.</p>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/cody-durflinger-31509821a/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="https://github.com/CMDurflinger" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="mailto:codydurflinger310@gmail.com?subject=Hi%20Cody!" target="_blank"><i class="bi bi-mailbox"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @{
    ViewData["Title"] = "AboutUs";
}

