<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Contractor Swap</title>
    <!-- Library of Libraries-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .card-bg {
            position: relative;
            overflow: hidden;
        }

            .card-bg img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }
    </style>
</head>
<body>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <!--Slider Section-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <div id="image-comparison-slider">
                    <img src="img/Handshake (2).jpg" class="handshake-img" alt="" />
                    <div class="image-wrapper">
                        <video src="img/coverr-construction-workers-454-1080p.mp4" autoplay muted loop></video>
                        <img src="img/homes.jpg" alt="after" />
                    </div>
                    <div class="handle">
                        <div class="handle-circle">
                            <i class="fa-sharp fa-solid fa-chevron-left"></i>
                            <i class="fa-sharp fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Slider Section-->
            @{if (!Program.LoggedIn)
            {
                <div class="col-lg-5">
                    <h1 class="text-white font-weight-light">Contractor Swap</h1>
                <p class="text-white h1-ptag">Power Up Your Projects with Contractor Swap! Need a helping hand or unable to make it to a job? Our platform lets contractors seamlessly share and cover tasks. Join our community of collaboration and never miss a beat in your projects again. Connect, swap, conquer!</p>
                        <a class="btn btn-secondary" asp-controller="Contractor" asp-action="Create">Sign Up!</a>
                </div>
            }
            else
            {
                <div class="col-xl-5 col-lg-12">
                    <h1 class="text-white font-weight-light">Welcome Back!</h1>
                        <p class="text-white h1-ptag">Your expertise fuels our community. Explore opportunities, balance workloads, and foster collaborations through Contractor Swap. Your success is our priority.</p>
                    </div>
            }}
        </div>
        <!-- Call to Action-->
        <div class="container mt-5 mb-5 text-center">
            <div class="card card-bg">
                <img src="/img/bannerIdea.jpg" alt="Background Image">
                <div class="card-body" style="z-index: 1;">
                    <p class="card-text text-white">Elevate Your Support with Contractor Swap: Seamless Job Sharing for Unforeseen Events! Collaborate with fellow contractors to ensure no job goes unattended. Share your jobs or step in for others in times of need. Together, we keep the work flowing smoothly.</p>
                </div>
            </div>
        </div>
        <!-- Content Row-->
        <div class="card-deck">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                    <div class="card h-100 rounded-5 overflow-hidden">
                    <img src="~/img/contractor.jpg" class="card-img-top" />
                        <div class="card-body" style="margin-bottom: 50px;">
                        <h5 class="card-title text-center">Learn More</h5>
                        <p class="card-text">Learn More about the Creators behind Contractor Swap and our Mission and Goals for the future!</p>
                            <div class="card-footer text-muted" style="position: absolute; bottom: 0; width: 100%; border: 0; background-color: transparent;">
                        <a asp-controller="Home" asp-action="AboutUs" class="btn btn-secondary align-middle">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                    <div class="card h-100 rounded-5 overflow-hidden">
                    <img src="~/img/jobswap.jpg" class="card-img-top" />
                        <div class="card-body" style="margin-bottom: 50px;">
                        <h5 class="card-title text-center">Post Your Job Opportunities</h5>
                        <p class="card-text">Looking for Extra Hands? Post Your Jobs and Connect with Skilled Contractors Ready to Fill Your Gaps!</p>
                            <div class="card-footer text-muted" style="position: absolute; bottom: 0; width: 100%; border: 0; background-color: transparent;">
                        <a asp-controller="JobListing" asp-action="Create" class="btn btn-secondary">Post a Job</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                    <div class="card h-100 rounded-5 overflow-hidden">
                    <img src="~/img/jobsearch.jpg" class="card-img-top" />
                            <div class="card-body" style="margin-bottom: 50px;">
                        <h5 class="card-title text-center">Explore Job Listings</h5>
                        <p class="card-text">Ready to Get to Work? Explore Job Listings <br />and Find Your Next Contracting Opportunity Today!</p>
                            <div class="card-footer text-muted" style="position: absolute; bottom: 0; width: 100%; border: 0; background-color: transparent;">
                        <a asp-controller="JobListing" asp-action="Index" class="btn btn-secondary">Search Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
@{
    ViewData["Title"] = "Home Page";
}

