body {
    background-image: url('../img/woodworkingbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

#body-content {
    min-height: calc(100vh - 140px);
}

footer {
    min-height: 60px;
}

/*Slider Section*/
:root {
    --image-comparison-slider-width: min(700px);
    --image-comparison-slider-handle-width: 50px;
}

#image-comparison-slider {
    position: relative;
    width: var(--image-comparison-slider-width);
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: col-resize;
    z-index: 1;
}

    #image-comparison-slider img {
        display: block;
        width: var(--image-comparison-slider-width);
        height: auto;
        max-height: 80vh;
        object-fit: cover;
        mix-blend-mode: screen;
        pointer-events: none;
        user-select: none;
    }

    #image-comparison-slider .image-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0%;
        overflow: hidden;
        object-fit: cover;
        z-index: 3;
        transition: 2s cubic-bezier(0.03, 0.98, 0.52, 0.99);
    }

        #image-comparison-slider .image-wrapper video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }

        #image-comparison-slider .image-wrapper img {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 3;
        }

    #image-comparison-slider .handle {
        position: absolute;
        top: 0;
        left: calc(50% - var(--image-comparison-slider-handle-width) / 2);
        width: var(--image-comparison-slider-handle-width);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 3;
        transition: 2s cubic-bezier(0.03, 0.98, 0.52, 0.99);
    }

        #image-comparison-slider .handle .handle-line {
            width: 2px;
            flex-grow: 1;
            background-color: #fff;
        }

    #image-comparison-slider .handle-circle {
        width: var(--image-comparison-slider-handle-width);
        height: var(--image-comparison-slider-handle-width);
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

@media (max-width: 768px) {
    :root {
        --image-comparison-slider-width: 90vw;
    }
}


/*End of Slider Section*/
/*Minor Font Work*/

h1 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

#JobListingIndexPage {
    width: 100%;
    background-image: url('../img/woodworkingbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#JobListingIndexTitle {
    background-color: #F2D1B3;
    opacity: 0.75;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #F2EFE9;
}
#JobListingIndexTable {
    background-color: antiquewhite;
    opacity: 0.80;
    border-radius: 10px
}
#CardListings{
    display: flex;
    justify-content:space-around;
}
#JobListingsCard {
    border-radius: 15px;
    background-color: #403732;
    color: #F2D1B3;
    border: 5px solid #F2EFE9;
    opacity: 0.95;
    transition: transform .2s
}
#JobListingsCard:hover {
    transform: scale(1.075);   
}
#JobListingCard{
    position: relative;
    
}
#JobListingCard a::before{
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#JobListingsCardImage {
    border-radius: 10px;
}
#JobListingsTitleText{
    font-size: 51px;
}
a.nostyle:link{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a.nostyle:visited{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.card-container{
    position:relative;
    text-align:center;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: #403732;
    padding: 10px;
    border: 2px solid #F2EFE9;
    border-radius: 10px;
    opacity: 0.90
}
#PostNewJobBtn {
    background-color: #403732;
    color: #F2D1B3;
}

#MyDetailsTitle {
    background-color: #F2D1B3;
    opacity: 0.75;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #F2EFE9;
}

#MyDetailsCard {
    border-radius: 15px;
    background-color: #403732;
    color: #F2D1B3;
    border: 5px solid #F2EFE9;
    opacity: 0.95;
}

.cardDisplayStyle {
    border-radius: 15px;
    background-color: #403732;
    color: #F2D1B3;
    border: 5px solid #F2EFE9;
    opacity: 0.95;
    font-size:18px;
}

.btn-display {
    position: relative;
    background-color: #F2D1B3;
    color: #403732;
    border: 2px solid #F2D1B3;
}

.btn-display:hover{
    background-color:#7e6c5d;
    color: #FFFFFF;
}
.btn-display:active {
    border:2px solid white;
}
.detailsTitle {
    background-color: #F2D1B3;
    opacity: 0.75;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #F2EFE9;
}
.detailsTitleText {
    color: #403732;
    font-weight: 700;
    font-size: 51px;
}
